
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  place-items: center;
  min-width: 100%;
  min-height: calc(100vh - 40px);
  background-color: #E1E1E1;

}

#root{
  min-width: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title_default{
  color: #31aa88;

}
.title{
  color: #31aa88;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


.links{
  color: rgb(67, 170, 132);
  margin-left: 4px;
}
a{
  color: rgb(67, 170, 132);
}