@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  place-items: center;
  min-width: 100%;
  min-height: calc(100vh - 40px);
  background-color: #e5dcd9;
}

#root {
  min-width: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@font-face {
  font-family: "michrome";
  src: url("./assets//fonts/mich.ttf");
  font-family: "rubik";
  src: url("./assets//fonts/rubikMonoOne.ttf");
}
.title_default {
  color: #31aa88;
  font-family: "michrome";
}
.title {
  color: #31aa88;
  font-size: 100px;
  font-family: "michrome";
  font-weight: bold;
}

.links {
  color: rgb(67, 170, 132);
  margin-left: 4px;
}
a {
  color: rgb(67, 170, 132);
}
label {
  font-family: "rubik";
  font-size: small;
  font-weight: normal;
  text-align: start;
  align-self: self-start;
}
